body{
    background-color: #A23B3B;
    text-align: center;
    color: white;
}

#container{
    display: grid;
    place-items: center;
}
.slider{
    aspect-ratio: 10 / 16;
    width: 250px;
    position: relative;
    display: flex;
    overflow: scroll ;
    scroll-snap-type: x mandatory;
}
.slider img {
    width: 100%;
    left: 0;
    position:sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
}